<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.mapper.BaseAttrValueMapper">

    <select id="selectSearchAttr" resultMap="selectSearchAttrMap">
        SELECT
            bi.id attr_id,
            bi.attr_name,
            bv.value_name attr_value
        FROM
            base_attr_info bi,
            base_attr_value bv,
            sku_attr_value sv
        WHERE
            bi.id = bv.attr_id
            AND sv.value_id = bv.id
            AND sv.sku_id = #{skuId}
    </select>

    <resultMap id="selectSearchAttrMap" type="com.atguigu.gmall.model.list.SearchAttr" autoMapping="true">

    </resultMap>

</mapper>